<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    {% block css_framework %}
    <link rel="stylesheet" href="assets/css/pico.min.css">
    {% endblock css_framework %}
    {% block fonts %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    {% endblock fonts %}
    {% block assets_css %}
    <link href="assets/css/main.css" rel="stylesheet">
    {% endblock assets_css %}
    {% block analytics %}
    {% endblock analytics %}
  </head>
  <body>
  {% block body %}
  {% endblock body %}  
  </body>
</html>
