{% extends "templates/core/base.jinja2" %}
{% block body %}
<main class="container">
	<nav>
	  <ul>
	    <li><a href="/"><strong>{{ title }}</strong></a></li>
	  </ul>
	  <ul>
	  	{% if about_page %}
	    <li><a href="#" class="contrast">About</a></li>
	    {% endif %}
	  </ul>
	</nav>
	<hgroup>
		<h1>Hello, World!</h1>
		<p>This is the base template for Binja!</p>
	</hgroup>
	{% block blog %}
	<h2>Latest blog posts</h2>
	<ul>
	{% for post in posts %}
	<li><a href="{{ post.url }}">{{ post.title }}></li>
	{% endfor %}
	</ul>
	{% endblock blog %}
</main>
{% endblock body %}