{% extends "templates/core/base.jinja2" %}
{% block css_framework %}
<link rel="stylesheet" href="../assets/css/pico.min.css">
{% endblock css_framework %}
{% block body %}
{% block article %}
{{ post }}
{% endblock article %}
{% endblock body %}